body{
	background-image: url("../img/backgroundIMG.jpg");
    background-color: "blue";
}

button{
    background-color:black !important;
}

#pad50{
    position:relative; 
    padding-bottom: 40px;
}



