<app-header *ngIf="this.sessionID == 1"></app-header>
<app-emp-header *ngIf="this.sessionID == 2"></app-emp-header>

<div class="form_main text-center">
  <h4 class="heading">Updating Personal Info</h4>
  <form action='http://localhost:8080/Project1/updateInfo' method='post'>
    <input type='text' name='firstname' placeholder=" First name" required><br>
    Currently: "{{currentUser.firstname}}"<br><br>
    <input type='text' name='lastname' placeholder=" Last name" required><br>
    Currently: "{{currentUser.lastname}}"<br><br>
    <input type='text' name='username' placeholder=" Username" required><br>
    Currently: "{{currentUser.username}}"<br><br>
    <input type='password' name='password' placeholder=" Password" required><br>
    <i>Not displayed for your safety</i><br><br>
    <input type='text' name='email' placeholder=" Email" required><br>
    Currently: "{{currentUser.email}}"<br><br>

    <input type="submit" value="submit" name="submit" class="txt2">
  </form>
</div>