<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ers</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.ers.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetReimbursement</display-name>
    <servlet-name>GetReimbursement</servlet-name>
    <servlet-class>com.revature.ers.servlets.GetReimbursement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetReimbursement</servlet-name>
    <url-pattern>/GetReimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPendingReimbursements</display-name>
    <servlet-name>GetPendingReimbursements</servlet-name>
    <servlet-class>com.revature.ers.servlets.GetPendingReimbursements</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPendingReimbursements</servlet-name>
    <url-pattern>/GetPendingReimbursements</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetResolvedReimbursements</display-name>
    <servlet-name>GetResolvedReimbursements</servlet-name>
    <servlet-class>com.revature.ers.servlets.GetResolvedReimbursements</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetResolvedReimbursements</servlet-name>
    <url-pattern>/GetResolvedReimbursements</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateReimbursement</display-name>
    <servlet-name>CreateReimbursement</servlet-name>
    <servlet-class>com.revature.ers.servlets.CreateReimbursement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateReimbursement</servlet-name>
    <url-pattern>/CreateReimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveReimbursement</display-name>
    <servlet-name>ApproveReimbursement</servlet-name>
    <servlet-class>com.revature.ers.servlets.ApproveReimbursement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveReimbursement</servlet-name>
    <url-pattern>/ApproveReimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewEmployeeInfo</display-name>
    <servlet-name>ViewEmployeeInfo</servlet-name>
    <servlet-class>com.revature.ers.servlets.ViewEmployeeInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployeeInfo</servlet-name>
    <url-pattern>/ViewEmployeeInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployeeInfo</display-name>
    <servlet-name>UpdateEmployeeInfo</servlet-name>
    <servlet-class>com.revature.ers.servlets.UpdateEmployeeInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeInfo</servlet-name>
    <url-pattern>/UpdateEmployeeInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessReimbursement</display-name>
    <servlet-name>ProcessReimbursement</servlet-name>
    <servlet-class>com.revature.ers.servlets.ProcessReimbursement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessReimbursement</servlet-name>
    <url-pattern>/ProcessReimbursement</url-pattern>
  </servlet-mapping>
</web-app>