<title>Employee List</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="text-center" id="table">
  <br>	
  <h2>Employee List</h2>
  <br>
  <table id="myTable">
      <thead>
          <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Username</th>
              <th>Email</th>
              <th>Role</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let e of empList">
              <td>{{e.id}}</td>
              <td>{{e.firstname}} {{e.lastname}}</td>
              <td>{{e.username}}</td>
              <td>{{e.email}}</td>
              <td *ngIf="e.roleId === 1">Manager</td>
              <td *ngIf="e.roleId === 2">Employee</td>
          </tr>
      </tbody>
  </table>		
</div>