<app-header></app-header>

<div class="text-center" id="table">
  <br>	
  <h2>Employee List</h2>
  <br>
  <table id="myTable">
      <thead>
          <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Username</th>
              <th>Email</th>
              <th>Role</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let e of empList">
              <td>{{e.id}}</td>
              <td>{{e.firstname}} {{e.lastname}}</td>
              <td>{{e.username}}</td>
              <td>{{e.email}}</td>
              <td *ngIf="e.roleId === 1">Manager</td>
              <td *ngIf="e.roleId === 2">Employee</td>
          </tr>
      </tbody>
  </table>		
</div>