	<div class="text-center">
    <br>
    <h3 id="welcome"></h3>
    <a class="btn btn-primary btn-lg" href="application" role="button">Apply for Reimbursement</a>
    <br><br><br>

    <div class="text-center" id="table">	

        <h2>Your Information <a class="btn btn-primary btn-lg" href="updateInfo" role="button">Update</a></h2>
        <table id="myTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let e of empList">
                <tr *ngIf="e.id==this.sessionID">
                    <td>{{e.id}}</td>
                    <td>{{e.firstname}} {{e.lastname}}</td>
                    <td>{{e.username}}</td>
                    <td>{{e.email}}</td>
                </tr>
              </ng-container>
            </tbody>
        </table>		



        <br><br>
        <h2>Your Reimbursement List</h2>
        <table id="myTable">
            <thead class="thead-dark">
                <tr>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Submitted</th>
                    <th>Resolved</th>
                    <th>Type ID</th>
                    <th>Status ID</th>
                </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let r of reimbursementList">
                <tr *ngIf="r.authorId==this.sessionID">
                  <td>{{r.amount | currency}}</td>
                  <td>{{r.description}}</td>
                  <td>{{r.submitted | date:'short'}}</td>
                  <td *ngIf="r.resolved != undefined">{{r.resolved | date:'short'}}</td>
                  <td *ngIf="r.resolved == undefined">N/A</td>
                  <td>{{r.typeId}}</td>
                  <td>{{r.statusID}}</td>
                </tr>
              </ng-container>
            </tbody>
        </table>		
      </div>





  </div>
  <br>
  


  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>