.ALL{
    margin: auto;
    text-align: center;
    position:absolute;
    top:30%;
    right:0;
    left:0;
    font-family: 'Times New Roman', Times, serif;
    
}
body{
    background-color: #7FDBFF;
}
img{
    display: block;
    margin: auto;
    padding-left: 7%;
}