<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ServletDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.revature.servlets.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAccountServlet</display-name>
    <servlet-name>UpdateAccountServlet</servlet-name>
    <servlet-class>com.revature.servlets.UpdateAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAccountServlet</servlet-name>
    <url-pattern>/UpdateAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.revature.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitReimbursementServlet</display-name>
    <servlet-name>SubmitReimbursementServlet</servlet-name>
    <servlet-class>com.revature.servlets.SubmitReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitReimbursementServlet</servlet-name>
    <url-pattern>/SubmitReimbursementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserReimbursementServlet</display-name>
    <servlet-name>UserReimbursementServlet</servlet-name>
    <servlet-class>com.revature.servlets.UserReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserReimbursementServlet</servlet-name>
    <url-pattern>/UserReimbursementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllEmployees</display-name>
    <servlet-name>GetAllEmployees</servlet-name>
    <servlet-class>com.revature.servlets.GetAllEmployees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllEmployees</servlet-name>
    <url-pattern>/GetAllEmployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEmployeeAndReimbursements</display-name>
    <servlet-name>GetEmployeeAndReimbursements</servlet-name>
    <servlet-class>com.revature.servlets.GetEmployeeAndReimbursements</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmployeeAndReimbursements</servlet-name>
    <url-pattern>/GetEmployeeAndReimbursements</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateReimbursementServlet</display-name>
    <servlet-name>UpdateReimbursementServlet</servlet-name>
    <servlet-class>com.revature.servlets.UpdateReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateReimbursementServlet</servlet-name>
    <url-pattern>/UpdateReimbursementServlet</url-pattern>
  </servlet-mapping>
</web-app>