<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>EmployeeReimbursmentSystem</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ers.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerDashServlet</servlet-name>
    <servlet-class>com.ers.ManagerDashServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerDashServlet</servlet-name>
    <url-pattern>/mgrDash</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeDashServlet</servlet-name>
    <servlet-class>com.ers.EmployeeDashServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeDashServlet</servlet-name>
    <url-pattern>/empDash</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestTypeServlet</servlet-name>
    <servlet-class>com.ers.RequestTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestTypeServlet</servlet-name>
    <url-pattern>/requestType</url-pattern>
  </servlet-mapping>
</web-app>