<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Johne_ERS_Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignIn</display-name>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>com.revature.ers.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/SignIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Signout</display-name>
    <servlet-name>Signout</servlet-name>
    <servlet-class>com.revature.ers.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signout</servlet-name>
    <url-pattern>/Signout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>home</display-name>
    <servlet-name>home</servlet-name>
    <servlet-class>com.revature.ers.controller.MainPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllEmployees</display-name>
    <servlet-name>AllEmployees</servlet-name>
    <servlet-class>com.revature.ers.controller.ViewAllEmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllEmployees</servlet-name>
    <url-pattern>/AllEmployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllReimbursements</display-name>
    <servlet-name>AllReimbursements</servlet-name>
    <servlet-class>com.revature.ers.controller.AllReimbursementsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllReimbursements</servlet-name>
    <url-pattern>/AllReimbursements</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReimburseForm</display-name>
    <servlet-name>ReimburseForm</servlet-name>
    <servlet-class>com.revature.ers.controller.ReimburseFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimburseForm</servlet-name>
    <url-pattern>/ReimburseForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStatus</display-name>
    <servlet-name>EditStatus</servlet-name>
    <servlet-class>com.revature.ers.controller.UpdateStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStatus</servlet-name>
    <url-pattern>/EditStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitReimbursement</display-name>
    <servlet-name>SubmitReimbursement</servlet-name>
    <servlet-class>com.revature.ers.controller.AddReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitReimbursement</servlet-name>
    <url-pattern>/SubmitReimbursement</url-pattern>
  </servlet-mapping>
</web-app>