<nav class="navbar navbar-expand-lg navbar-custom">  
  <div class="navbar-collapse" id="navbarSupportedContent">
    <!-- <a class="btn btn-link mr-auto" href="login">Login Page</a> -->
    <a class="btn btn-link mr-auto" href="employeeHome">Employee Home</a>
    <a class="btn btn-link mr-auto" href="updateInfo">Update Information</a>
    <a class="btn btn-link mr-auto" href="application">Reimbursement Application</a>
    <a class="btn btn-link mr-auto" href="managerHome">Manager Home</a>
    <a class="btn btn-link mr-auto" href="reimbursements">Reimbursements</a>
    <a class="btn btn-link mr-auto" href="employeeList">Employee List</a>
    <form>
      <a class="btn btn-danger mr-auto" (click)="logout()">Log out</a>
    </form>
  </div>
</nav>