<app-header *ngIf="this.sessionID == 1"></app-header>
<app-emp-header *ngIf="this.sessionID == 2"></app-emp-header>

<div class="form_main text-center">
  <br>
  <h4 class="heading">Reimbursement Application</h4>
  <form action='http://localhost:8080/Project1/application' method='post' enctype="multipart/form-data">
    <div>
      Amount:<br>
      <input type='number' name='amount' required><br><br>
      Description:<br>
      <input type='text' name='description' required><br><br>
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Receipt (not required):&emsp;
      <input type='file' name='receipt' accept='image/*'><br><br>
      Type:<br>
      <input type='radio' name='type' value='business' required><label>Business&emsp;</label>
      <input type='radio' name='type' value='travel' required><label>Travel&emsp;</label>
      <input type='radio' name='type' value='medical' required><label>Medical&emsp;</label>
      <br><br>
      <input type="submit" value="submit" name="submit" class="txt2">
    </div>
  </form>
</div>